/* --  C.6. Sidebar Image - view only
		see http://www.reddit.com/r/mindashq/wiki/modules/SidebarImages for details		
	 + 	Add only when corresponding image is loaded in community settings > stylesheet 
	 + 	Update the main CSS header comment block when this module is used
---- */

.side .usertext-body:before {
	content: url('%%SidebarImage%%');
	margin: 10px 0px;
	display: block;
	overflow: hidden;
	text-align: center;
}
/* --  C.6.end Sidebar Image ---- */
