/*--  C.2. Sidebar Buttons - in situ 
	Details : http://www.reddit.com/r/mindashq/wiki/modules/SidebarButtons
----*/

/*-- C.2.1 Button Appearance --*/
/* Delete C.2.1 from code if buttons are not to be hidden via CSS*/

.sidebox.submit-text {
	/*display: none; uncomment to hide submit text button */
}

.sidebox.create {
	/*display: none; uncomment to hide create subreddit button */
}
/*-- end Button Appearance  --*/

/*-- C.2.2 Dual buttons ----*/
/* Delete C.2.2 from code if side-by-side buttons not desired */

.sidebox.submit {
	width: 147px;
	word-spacing: 1px;
	letter-spacing: -1px;
}

.sidebox.submit-link {
	position: relative;
	display: block;
	margin-left: 0;
	text-indent: 0;
}

	.sidebox.submit-link .morelink .nub:before {
		position: relative;
		top: 2px;
		z-index: 1;
		margin-left: 13px;
		padding: 5px;
		height: auto;
		border: 1px solid #fbfbf9;
		border-radius: 50%;
		background-color: #fbfbf9 !important;
		color: #242527;
		content: 'OR';
		text-shadow: 1px 1px 1px #fff,1px 1px 2px #808088;
		font-weight: bold;
		font-size: 10px;
	}

.sidebox.submit-text {
	position: relative;
	float: right;
	margin-top: -40px;
	text-align: right;
}

body.res-nightmode .sidebox.submit-link .morelink .nub {
	display: block !important;
}

	body.res-nightmode .sidebox.submit-link .morelink .nub:before {
		border: 1px solid #222;
		background-color: #222 !important;
		color: #eee;
		text-shadow: 1px 1px 1px #000,1px 1px 2px #1f1f1f;
	}

body.res-nightmode .sidebox.submit-text {
	top: -2px;
}

/*-- C.2.2.end Dual buttons ----*/

/*--  C.2.end Sidebar Buttons in situ ----*/
