/* --  C.9. Subscriber Info Switcher
	Details : http://www.reddit.com/r/mindashq/wiki/modules/TextSwitchers
---- */

.titlebox span.word {
	display: none;
}

.titlebox .subscribers .number:after {
	content: " Watchers"; /*This is replacement for readers*/
}

.titlebox .users-online .number:after {
	content: " Themers here now"; /*This is replacement for users online*/
}

/* --  C.9.end Subscriber Info Switcher ---- */
