/* --  C.3. Pinote
		see http://www.reddit.com/r/mindashq/wiki/modules/pinote for details		
	 + 	Add only when corresponding markup is added in sidebar	
	 + 	This css adds visible text to reddit, check for translations	
	 + 	Update the main CSS header comment block when this module is used
---- */

.side .md > blockquote:nth-of-type(1) {
	position: absolute;
	top: 175px; /*adjust according to the header module*/
	right: 360px;
	left: 10px;
	border-bottom: 0px;
}

	.side .md > blockquote:nth-of-type(1) > h1 {
	}

		.side .md > blockquote:nth-of-type(1) > h1 > a {
			float: right;
			margin: -5px -5px -5px 0px;
			padding: 10px 5px;
			max-width: 120px;
			font-size: 14px;
			text-align: right;
			text-align: center;
			text-decoration: underline;
		}

			.side .md > blockquote:nth-of-type(1) > h1 > a[href*="#icon-"]:before {
				position: absolute;
				left: 20px;
				margin-top: -26px;
				cursor: default;
			}

a[name='content'] {
	display: block;
	margin: 0px 360px 25px 10px;
	min-height: 65px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: #f5f5f5;
}


	a[name='content']:before {
		content: 'This is staging area for /r/mindashq with preview of opt-in modules. To know more, and for feedback, discussions and enhancments : click the link.';
		position: relative;
		display: block;
		margin: 15px 150px 15px 60px;
		color: #222;
		font-weight: bold;
		font-size: 16px;
		letter-spacing: -.06em;
	}

body.res-nightmode a[name='content'] {
	border-color: #6a6a6a;
	background-color: #0a0a0a;
}

	body.res-nightmode a[name='content']:before {
		color: #bcbcbc;
	}
/* --  C.3.end PiNote ---- */
