/* --  C.2. Sidebar Buttons - in situ
		see http://www.reddit.com/r/mindashq/wiki/modules/SidebarButtons for details
	 + 	This css adds visible text to reddit, check for translations	
	 + 	Update the main CSS header comment block when this module is used
---- */

/*-- C.2.1 Button Appearance --*/
/* Delete C.2.1 from code if buttons are not to be hidden via CSS*/

.sidebox.submit-text {
	/*display: none; uncomment to hide submit text button */
}

.sidebox.create {
	/*display: none; uncomment to hide create subreddit button */
}
/*-- end Button Appearance  --*/

/*-- C.2.2 Dual buttons ---- */
/* Delete C.2.2 from code if side-by-side buttons not desired */

.sidebox.submit {
	width: 147px;
	word-spacing: 1px;
	letter-spacing: -1px;
}

.sidebox.submit-link {
	position: relative;
	display: block;
	margin-left: 0px;
	text-indent: 0px;
}

	.sidebox.submit-link .morelink .nub:before {
		content: 'OR';
		position: relative;
		top: 4px;
		margin-left: 12px;
		padding: 5px;
		height: auto;
		border: 1px solid #fbfbf9;
		border-radius: 20px;
		background-color: #fbfbf9!important;
		color: #2977c6;
		font-weight: bold;
		font-size: 12px;
		text-shadow: 1px 1px 1px #fff,1px 1px 2px #808088;
		z-index: 1;
	}

.sidebox.submit-text {
	position: relative;
	float: right;
	margin-top: -44px;
	text-align: right;
}

body.res-nightmode .sidebox.submit-link .morelink .nub {
	display: block!important;
}

	body.res-nightmode .sidebox.submit-link .morelink .nub:before {
		border: 1px solid #222;
		background-color: #222!important;
		color: #bb6107;
		text-shadow: 1px 1px 1px #000,1px 1px 2px #1f1f1f;
	}

body.res-nightmode .sidebox.submit-text {
	top: -2px;
}

/*-- C.2.2.end Dual buttons ---- */

/* --  C.2.end Sidebar Buttons in situ ---- */
