/* --  C.1. Header Image
		see http://www.reddit.com/r/mindashq/wiki/modules/HeaderImages for details		
	 + 	Add only when corresponding image is loaded in community settings > stylesheet 
	 + 	Update the main CSS header comment block when this module is used
---- */

#header,
body.res-nightmode #header{
	min-height: 150px; /*give a nice height for image to be seen, be conservative*/
	background: #fff url('%%headerImage%%') repeat-x scroll 0px 80%!important; /*color, url, repeat and position of image, tweak as per requirements */
}

	#header:after {
		background-color: #acd9fc;
		background-image: none;
		opacity: 0.7;
	}

#header-bottom-left {
	/*this adjusts the top navigation bar, leave as default*/
	position: absolute;
}

	#header-bottom-left:before {
		background-color: #acd9fc; /*tweak to match the image color*/
		opacity: .1; /*be creative with usage of shadows, opacity, background color, and even additional background images here*/
	}

#header ul.tabmenu li a,
#header ul.tabmenu li a:visited,
#header .pagename.redditname,
#header .pagename.redditname.hover {
	background-color: transparent; /*tweak to match the background image color, or use the default #acd9fc;*/
	background-image: none;
	color: #acd9fc;
}

#header ul.tabmenu li.selected a {
	background-color: #fff; /*tweak to match the background image color*/
	background-image: none;
	color: #ff4500;
}

body.res-nightmode #header ul.tabmenu li.selected a {
	background-color: #040406;
	color: #e06935;
}

#header-bottom-right a,
#header-bottom-right span {
	color: #def0fe;
}

#header-bottom-right:hover {
	background-color: #2154a3;
}
		#header-bottom-right:hover a,
		#header-bottom-right:hover span {
			text-shadow: none;
		}

#sr-header-area {
	background-color: #fff; /*tweak to match the image color*/
}

/* --  C.1.end Header Image ---- */
