/* --  C.2. Sidebar Buttons - On Top
		see http://www.reddit.com/r/mindashq/wiki/modules/SidebarButtons for details		
	 + 	This css adds visible text to reddit, check for translations	
	 + 	Update the main CSS header comment block when this module is used
---- */

/*-- C.2.1 Button Appearance --*/
/* Delete C.2.1 from code if buttons are not to be hidden via CSS*/

.sidebox.submit-text {
	/*display: none; uncomment to hide submit text button */
}

.sidebox.create {
	/*display: none; uncomment to hide create subreddit button */
}
/*-- end Button Appearance  --*/

/*-- C.2.2 Dual buttons ---- */

.sidebox.submit {
	width: 147px;
	word-spacing: 1px;
	letter-spacing: -1px;
}

.sidebox.submit-link {
	display: block;
	margin-left: 0px;
}

	.sidebox.submit-link .morelink .nub:before {
		content: 'OR';
		position: relative;
		top: 4px;
		margin-left: 12px;
		padding: 5px;
		height: auto;
		border: 1px solid #fbfbf9;
		border-radius: 20px;
		background-color: #fbfbf9!important;
		color: #2977c6;
		font-weight: bold;
		font-size: 12px;
		text-shadow: 1px 1px 1px #fff,1px 1px 2px #808088;
		z-index: 1;
	}

.sidebox.submit-text {
	margin-left: 152px;
	text-align: right;
}

body.res-nightmode .sidebox.submit-link .morelink .nub:before {
	border: 1px solid #222222;
	background-color: #222222!important;
	color: #bb6107;
	text-shadow: 1px 1px 1px #000,1px 1px 2px #1f1f1f;
}

/*-- C.2.2.end Dual buttons ---- */

/*-- C.2.3 Custom button text --*/

.sidebox.submit-link .morelink a,
.sidebox.submit-text .morelink a {
	content: '';
	font-size: 0px;
}

	.sidebox.submit-link .morelink a:before {
		content: 'Submit a Link'; /*Type your custom text here*/
		font-size: 16px;
	}

	.sidebox.submit-text .morelink a:before {
		content: 'Post a Note'; /*Type your custom text here*/
		font-size: 16px;
	}

/*-- C.2.3.end Custom button text --*/

/*-- C.2.4. Top Positioning with message to moderator text --*/
.sidebox.submit {
	position: absolute;
	top: 105px; /*Tweak this as per the header height (esp when C1 Header Images is used)*/
}

.sidecontentbox a.helplink {
	position: absolute;
	top: 146px; /*Tweak this as per the header height (esp when C1 Header Images is used)*/
	font-size: 12px;
}

	.sidecontentbox a.helplink:before {
		content: 'Or';
		margin: 0px .3em 0px 1.5em;
		color: #808080;
	}

	.sidecontentbox a.helplink:after {
		content: 'with your questions';
		margin: 0px 0px 0px .3em;
		color: #808080;
	}

.side .spacer #search,
body.search-page .side .titlebox {
	margin-top: 70px;
}
/*-- C.2.4.end Top Positioning with message to moderator text --*/

/* --  C.2.end Sidebar Buttons on Top---- */
