/*--  C.1. Header Image
	Details http://www.reddit.com/r/mindashq/wiki/modules/HeaderImages		
	+ 	Add only when corresponding image is loaded in community settings > stylesheet 
----*/

#header,
body.res-nightmode #header {
	min-height: 150px; /*Tweak to give a nice height for image to be seen, be conservative*/
	background: #101213 url('%%headerImage%%') no-repeat scroll 0px 80% !important; /*Tweak as per requirements*/
}

	#header:after,
	#header-bottom-left:before,
	.footer-parent:after {
		background-color: #2a5484; /*Tweak to match the image color*/
		background-image: none;
		opacity: 0.7; /*be creative with usage of shadows, opacity, background color, and even additional background images here*/
	}

#header-bottom-left {
	/*do not change this. positions the top navigation bar*/
	position: absolute;
}

#header ul.tabmenu li a,
#header ul.tabmenu li a:visited,
#header .pagename.redditname,
#header .pagename.redditname.hover,
.footer .flat-vert.title,
#header-img.default-header {
	background: transparent; /*Tweak to match the image color, or keep transparent*/
	background-image: none;
	color: #acd9fc; /*Tweak against background color*/
}

#header ul.tabmenu li.selected a {
	background: #fff; /*Tweak to match the background image color*/
	background-image: none;
	color: #ff4500; /*Tweak against background color*/
}

body.res-nightmode #header ul.tabmenu li.selected a {
	background-color: #040406;
	color: #e06935;
}

#header ul.tabmenu li a:hover {
	color: #ff4500;
}

#header-bottom-right a,
#header-bottom-right span {
	color: #def0fe;
}

#header-bottom-right {
	background: transparent;
}

	#header-bottom-right:hover {
		background: #285281;
	}

		#header-bottom-right:hover a,
		#header-bottom-right:hover span {
			text-shadow: none;
		}

#sr-header-area {
	background: #fff; /*Tweak to match the image color*/
}

/*--  C.1.end Header Image ----*/
