/*--  C.8. Reddit Name Switcher ----*/
.pagename a:after,
.titlebox .redditname a:after {
	content: 'Stage Mindashq'; /*Type the custom name here*/
}

.pagename a,
.titlebox .redditname a {
	font-size: 0 !important;
}

	.pagename a:after {
		font-size: 16px;
	}

	.titlebox .redditname a:after {
		text-shadow: 0 0 1px #aaa;
		font-size: 30px;
	}

.res-nightmode .titlebox .redditname a:after {
	text-shadow: 0 0 1px #555;
}
/*--  C.8.end Reddit Name Switcher ----*/
