/* --  C.6. Sidebar Image - clickable
		see http://www.reddit.com/r/mindashq/wiki/modules/SidebarImages for details		
	 + 	Add only when corresponding image is loaded in community settings > stylesheet 
	 + 	Update the main CSS header comment block when this module is used
---- */

.side .usertext a[href$='png'],
.side .usertext a[href$='jpg'],
.side .usertext a[href$='jpeg'],
.side .usertext a[href$='gif'],
.side .usertext a[href$='#view'] {
	position: static;
	display: block;
	margin: 0px -10px 15px -15px;
	min-width: 300px;
	min-height: 70px;
	max-width: 310px;
	max-height: 300px;
	width: auto;
	height: 100px; /*adjust to desired image height*/
	background: transparent url('%%SidebarImage%%') no-repeat 0 0;
	font-size: 0px;
}

	.side .usertext a[href$='png']:hover:after,
	.side .usertext a[href$='jpg']:hover:after,
	.side .usertext a[href$='jpeg']:hover:after,
	.side .usertext a[href$='gif']:hover:after,
	.side .usertext a[href$='#view']:hover:after {
		content: "Click to see original size"; /*Short hover text*/
		position: relative;
		top: auto;
		bottom: -20px;
		left: 50%;
		display: block;
		margin: 0px -105px;
		padding: 10px 5px;
		max-width: 200px;
		border: 1px solid #d2d2d2;
		border-radius: 2px;
		background: #f5f5f9;
		font-weight: bold;
		font-size: 12px;
		text-align: center;
		opacity: .8;
	}
/* --  C.6.end Sidebar Image ---- */
