/* --  C.4. Navigator
		see http://www.reddit.com/r/mindashq/wiki/modules/navigator for details		
	 + 	Add only when corresponding markup is added in sidebar
	 + 	Update the main CSS header comment block when this module is used
---- */
.side .md > blockquote:last-child {
	display: none;
}

.side .md > blockquote:last-child {
	position: absolute;
	left: 0px; /* set for stage; modify per reddit */
	top: 69px; /*adjust this, if header module is used */
	display: block;
	background-color: transparent;
	border: 0px none;
	padding: 0px;
	margin: 0px;
	z-index: 99;
}

	.side .md > blockquote:last-child > h1 {
		overflow: hidden;
		margin: -24px 0px 0px;
		padding: 2px;
		font-size: 20px;
		font-weight: bold;
		line-height: 28px;
		vertical-align: middle;
		width: 25px;
		text-align: center;
		color: #1f96ca;
		background-color: #acd9fc;
	}

		.side .md > blockquote:last-child > h1 a {
			color: #1f96ca;
			background-color: #acd9fc;
		}

		.side .md > blockquote:last-child > h1 em {
			display: none;
		}

	.side .md > blockquote:last-child ul {
		display: none;
		vertical-align: top;
		list-style-image: none;
		list-style: none outside;
		vertical-align: top;
		white-space: normal;
		margin: 0px;
		padding: 0px;
		overflow: visible;
	}

	.side .md > blockquote:last-child:hover > h1,
	.side .md > blockquote:last-child:active > h1 {
		padding-bottom: 15px;
		margin-bottom: -15px;
		color: #dcebfa;
		background-color: #5ca2e8;
	}

		.side .md > blockquote:last-child:hover > h1 a,
		.side .md > blockquote:last-child:active > h1 a {
			color: #dcebfa;
			background-color: transparent;
		}

	.side .md > blockquote:last-child:hover > ul,
	.side .md > blockquote:last-child:active > ul {
		display: block;
		padding: 0px 50px 50px;
		margin: -3px 0px 0px -50px;
	}

	.side .md > blockquote:last-child li {
		height: 30px;
		width: 150px;
		line-height: 30px;
		margin: 0px;
		padding: 5px 15px 0px;
		border-width: 0px 1px 1px 1px;
		white-space: normal;
		border-style: solid;
		border-color: #ccc;
		background-color: #f5f5f5;
		text-shadow: 0 1px 0 #ddd;
		box-shadow: 0px 1px 6px 0px #bbb;
	}

		.side .md > blockquote:last-child li:first-child {
			border-width: 1px;
		}

		.side .md > blockquote:last-child li a {
			color: #0026ff;
		}

	.side .md > blockquote:last-child ul > li:hover,
	.side .md > blockquote:last-child ul > li:active,
	.side .md > blockquote:last-child ul > li:hover > a,
	.side .md > blockquote:last-child ul > li:active > a {
		color: #dcebfa;
		background-color: #5ca2e8;
		text-shadow: 0 1px 0 #333;
	}

	.side .md > blockquote:last-child > ul > li:hover > ul,
	.side .md > blockquote:last-child > ul > li:active > ul,
	.side .md > blockquote:last-child > ul > li > ul:hover,
	.side .md > blockquote:last-child > ul > li > ul:active {
		display: inline-block;
		margin-left: 163px;
		top: -36px;
		padding: 0px 50px 50px 3px;
		overflow: hidden;
		height: auto;
		position: relative;
	}

	.side .md > blockquote:last-child li > ul > li,
	.side .md > blockquote:last-child li > ul > li {
		width: auto;
		min-width: 150px;
		white-space: nowrap;
		background-color: #ddd;
		box-shadow: 0px 2px 6px 0px #bebebe;
	}

#header-bottom-left {
	/*same selector includes via headerImages module as well, with different values*/
	margin-left: 33px;
}

body.res-nightmode .side .md > blockquote:last-child > h1,
body.res-nightmode .side .md > blockquote:last-child > h1 a {
	color: #ff910b!important;
	background-color: #414141!important;
}

body.res-nightmode .side .md > blockquote:last-child:hover > h1,
body.res-nightmode .side .md > blockquote:last-child:active > h1,
body.res-nightmode .side .md > blockquote:last-child:hover > h1 a,
body.res-nightmode .side .md > blockquote:last-child:active > h1 a {
	background-color: #ff910b!important;
	color: #414141!important;
}

body.res-nightmode .side .md > blockquote:last-child li {
	border-color: #6a6a6a;
	background-color: #444444;
	text-shadow: 0 1px 0 #888;
	box-shadow: 0px 1px 6px 0px #000;
}

	body.res-nightmode .side .md > blockquote:last-child li a {
		color: #bbb;
	}

body.res-nightmode .side .md > blockquote:last-child ul > li:hover,
body.res-nightmode .side .md > blockquote:last-child ul > li:active,
body.res-nightmode .side .md > blockquote:last-child ul > li:hover > a,
body.res-nightmode .side .md > blockquote:last-child ul > li:active > a {
	color: #dcebfa!important;
	background-color: #ff910b;
	text-shadow: 0 1px 0 #333;
}

body.res-nightmode .side .md > blockquote:last-child li > ul > li {
	background-color: #4a4a4a;
	box-shadow: 0px 1px 6px 0px #000;
}
/* --  C.4.end Navigator ---- */
