/*--  C.6. Sidebar Image - view only
	Details : http://www.reddit.com/r/mindashq/wiki/modules/SidebarImages
	+ 	Add only when corresponding image is loaded in subreddit settings > stylesheet 
----*/

.side .usertext-body:before {
	display: block;
	overflow: hidden;
	margin: 10px 0;
	content: url('%%SidebarImage%%');
	text-align: center;
}
/*--  C.6.end Sidebar Image ----*/
