/* --  C.4 Navigator
		see http://www.reddit.com/r/mindashq/wiki/modules/navigator for details		
		+ Add only when corresponding markup is added in sidebar +
		Update the main CSS header comment block when this module is used
---------------------------------------------------*/
.side .md > blockquote:last-child {
	display: none;
}

body.listing-page .side .md > blockquote:last-child,
body.messages-page .side .md > blockquote:last-child,
body.single-page .side .md > blockquote:last-child {
	position: absolute;
	left: 262px; /* set for stage; modify per reddit */
	top: 69px; /*adjust this, if header module is used */
	display: block;
	background-color: transparent;
	border: 0px none;
	padding: 0px;
	margin: 0px;
	z-index: 99;
}
	/*----------- last child only*/
	body.listing-page .side .md > blockquote:last-child > h1,
	body.single-page .side .md > blockquote:last-child > h1 {
		overflow: hidden;
		margin: -24px 0px 0px;
		padding: 2px;
		font-size: 20px;
		font-weight: bold;
		line-height: 28px;
		vertical-align: middle;
		width: 25px;
		text-align: center;
		color: #1f96ca;
		background-color: #cee3f8;
	}

		body.listing-page .side .md > blockquote:last-child > h1 a,
		body.single-page .side .md > blockquote:last-child > h1 a {
			color: #1f96ca;
			background-color: #cee3f8;
		}

		body.listing-page .side .md > blockquote:last-child > h1 em,
		body.single-page .side .md > blockquote:last-child > h1 em {
			display: none;
		}

	body.listing-page .side .md > blockquote:last-child ul,
	body.single-page .side .md > blockquote:last-child ul {
		display: none;
		vertical-align: top;
		list-style-image: none;
		list-style: none outside;
		vertical-align: top;
		white-space: normal;
		margin: 0px;
		padding: 0px;
		overflow: visible;
	}

	body.listing-page .side .md > blockquote:last-child:hover > h1,
	body.single-page .side .md > blockquote:last-child:hover > h1 {
		padding-bottom: 15px;
		margin-bottom: -15px;
		color: #dcebfa;
		background-color: #5ca2e8;
	}

		body.listing-page .side .md > blockquote:last-child:hover > h1 a,
		body.single-page .side .md > blockquote:last-child:hover > h1 a {
			color: #dcebfa;
			background-color: transparent;
		}

	body.listing-page .side .md > blockquote:last-child:hover > ul,
	body.single-page .side .md > blockquote:last-child:hover > ul {
		display: block;
		padding: 0px 50px 50px;
		margin: -3px 0px 0px -50px;
	}

	body.listing-page .side .md > blockquote:last-child li,
	body.single-page .side .md > blockquote:last-child li {
		height: 30px;
		width: 150px;
		line-height: 30px;
		margin: 0px;
		padding: 5px 15px 0px;
		border-width: 0px 1px 1px 1px;
		white-space: normal;
		border-style: solid;
		border-color: #ccc;
		background-color: #f5f5f5;
		text-shadow: 0 1px 0 #ddd;
		box-shadow: 0px 1px 6px 0px #bbb;
	}

		body.listing-page .side .md > blockquote:last-child li:first-child,
		body.single-page .side .md > blockquote:last-child li:first-child {
			border-width: 1px;
		}

		body.listing-page .side .md > blockquote:last-child li a,
		body.single-page .side .md > blockquote:last-child li a {
			color: #0026ff;
		}

	body.listing-page .side .md > blockquote:last-child ul > li:hover,
	body.single-page .side .md > blockquote:last-child ul > li:hover,
	body.listing-page .side .md > blockquote:last-child ul > li:hover > a,
	body.single-page .side .md > blockquote:last-child ul > li:hover > a {
		color: #dcebfa;
		background-color: #5ca2e8;
		text-shadow: 0 1px 0 #333;
	}

	body.listing-page .side .md > blockquote:last-child > ul > li:hover > ul,
	body.single-page .side .md > blockquote:last-child > ul > li:hover > ul,
	body.listing-page .side .md > blockquote:last-child > ul > li > ul:hover,
	body.single-page .side .md > blockquote:last-child > ul > li > ul:hover {
		display: inline-block;
		margin-left: 163px;
		/*margin-top: -36px;*/
		top: -36px;
		padding: 0px 50px 50px 3px;
		overflow: hidden;
		height: auto;
		position: relative;
	}

	body.listing-page .side .md > blockquote:last-child li > ul > li,
	body.single-page .side .md > blockquote:last-child li > ul > li {
		width: auto;
		min-width: 150px;
		white-space: nowrap;
		background-color: #ddd;
		box-shadow: 0px 2px 6px 0px #bebebe;
	}

/* --  C.4.end Navigator -------------- */
