/* --  C.2. Sidebar Buttons - On Top
		see http://www.reddit.com/r/mindashq/wiki/modules/SidebarButtons for details
---- */

/*-- C.2.1 Button Appearance --*/
/* Delete C.2.1 from code if buttons are not to be hidden via CSS*/

.sidebox.submit-text {
	/*display: none; uncomment to hide submit text button */
}

.sidebox.create {
	/*display: none; uncomment to hide create subreddit button */
}
/*-- end Button Appearance  --*/

/*-- C.2.2 Dual buttons ---- */

.sidebox.submit {
	width: 147px;
	word-spacing: 1px;
	letter-spacing: -1px;
}

.sidebox.submit-link {
	display: block;
	margin-left: 0px;
}

	.sidebox.submit-link .morelink .nub:before {
		content: 'OR';
		position: relative;
		top: 4px;
		margin-left: 12px;
		padding: 5px;
		height: auto;
		border: 1px solid #fbfbf9;
		border-radius: 20px;
		background-color: #fbfbf9!important;
		color: #242527;
		font-weight: bold;
		font-size: 12px;
		text-shadow: 1px 1px 1px #fff,1px 1px 2px #808088;
		z-index: 1;
	}

.sidebox.submit-text {
	margin-left: 152px;
	text-align: right;
}

body.res-nightmode .sidebox.submit-link .morelink .nub {
	display: block!important;
}

	body.res-nightmode .sidebox.submit-link .morelink .nub:before {
		border: 1px solid #222222;
		background-color: #222222!important;
		color: #bb6107;
		text-shadow: 1px 1px 1px #000,1px 1px 2px #1f1f1f;
	}

/*-- C.2.2.end Dual buttons ---- */

/*-- C.2.3. Top Positioning with message to moderator text --*/
.sidebox.submit {
	position: absolute;
	top: 105px; /*Tweak this as per the header height (esp when C1 HeaderImages is used)*/
}

.sidecontentbox a.helplink {
	position: absolute;
	top: 146px; /*Tweak this as per the header height (esp when C1 Header Images is used)*/
	font-size: 12px;
}

	.sidecontentbox a.helplink:before {
		content: 'Or';
		margin: 0px .3em 0px 1.5em;
		color: #808080;
	}

	.sidecontentbox a.helplink:after {
		content: 'with your questions'; /*Tweak this for message after the link*/
		margin: 0px 0px 0px .3em;
		color: #808080;
	}

.side .spacer #search,
body.search-page .side .titlebox {
	margin-top: 70px;
}

body.submit-page .sidecontentbox a.helplink {
	top: 115px; /*Tweak this as per the header height (esp when C1 Header Images is used)*/
	right: 370px;
}

body.submit-page .side .spacer #search {
	margin-top: 0px;
}
/*-- C.2.3.end Top Positioning with message to moderator text --*/

/* --  C.2.end Sidebar Buttons on Top---- */
