/* --  C.8. Reddit Name Switcher
		see http://www.reddit.com/r/mindashq/wiki/modules/TextSwitchers for details
	 + 	This css adds visible text to reddit, check for translations	
---- */

.pagename a:after,
.titlebox .redditname a:after {
	content: "Stage Mindashq"; /*Type the custom name here*/
}

.pagename a,
.titlebox .redditname a {
	font-size: 0!important;
	text-shadow: none;
}

	.pagename a:after {
		font-size: 18px;
		vertical-align: bottom;
	}


	.titlebox .redditname a:after {
		font-size: 26px;
		text-shadow: 1px 1px 1px #fff, 2px 2px 3px #aaa, -1px -1px 1px #eee;
	}

.res-nightmode .titlebox .redditname a:after {
	text-shadow: 1px 1px 1px #000000, 2px 2px 3px #555555, -1px -1px 1px #111111;
}
/* --  C.8.end Reddit Name Switcher ---- */
